# Configuração do Dependabot para atualizar dependências automaticamente
# Docs oficiais: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"           # ou "fix", "build", o que você preferir
      include: "scope"          # ← só aceita isso!
